# npm packages and modules
node_modules
# editor directories and files
.vscode/
.vscode/*
!.vscode/extensions.json
# backend folders and files
backend/api/__pycache__/
*__pycache__/
*.venv/
*.db
backend/static/*
*celerybeat-schedule
# frontend folders and files
frontend/public/images/*.png
frontend/.prettierrc.json
frontend/eslint.config.js
frontend/jsconfig.json
frontend/vite.config.js